*{
    margin: 0;
    padding: 0;
}

body{
    cursor: none;
    overflow: hidden;
}
.content {
    padding-top: 3rem;
    padding-bottom: 5rem;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.container {
    padding-top: 1rem;
}
.bio {
    flex: 1;
}
.profile-image {
    flex: 1;
    border-radius: 3px;
    margin-bottom: 3rem;
}
.profile-image img {
    display: block;
    margin: auto;
}

.container h3{
    font-size: 1.5rem;
    color: white;
    /* opacity: 0.8; */
}
.container h1{
    font-size: 4.5rem;
    font-family: 'Acme', sans-serif;
}
.container h2{
    font-size: 1.5rem;
    color: wheat;
}
.container span{
    color: #94c454;
    
}
i{
    font-size: 50px;
    color: white;
    margin-right: 20px;
    transition: linear 4.5s;
}

@media (max-width: 700px){
    .bio {
        text-align: center;
    }
    .contact {
        margin: auto;
    }
    .profile-image img {
        width: 50%;
    }

}