body{
    cursor: none;
}
.icon-image{
    height: 100px;
    width: auto;
    margin: 25px;
    transition: 0.5s;
    /* transition-delay: 1s; */
}
.icon-image:hover{
    height: 140px;
    transform: rotate(20deg);
    
}

h1{
    color: #f26b22;
    font-size: 4rem;
    font-family: 'Acme', sans-serif;
    text-align: center;
}

@media (max-width: 700px){
    .icon-image{
        height: 40px;
        width: auto;
        margin: 5px;
    }

}